@using System_do_zarządzania_ligą_piłkarską.Shared.DTOs
@using System_do_zarządzania_ligą_piłkarską.Client.Areas.LeagueMaster.Shared
@using System_do_zarządzania_ligą_piłkarską.Client.Components
@using System_do_zarządzania_ligą_piłkarską.Shared.DTOs.Matches
@using Microsoft.AspNetCore.Authorization

@page "/league-master/leagues/{leagueInfoId:int}/{leagueSeasonId:int}/manage-matches"
@layout LeagueMasterLayout
@inject HttpClient Http
@inject NavigationManager Navigation
@attribute [Authorize(Roles = "LeagueMaster")]

<PageTitle>Zarządzanie meczami</PageTitle>

<div class="container py-4">
    <div class="row mb-4">
        <div class="col text-center">
            <h3 class="display-6 fw-bold text-primary">Zarządzanie meczami</h3>
        </div>
    </div>

    <div class="d-flex justify-content-start mb-4">
        <button class="btn btn-secondary" @onclick="BackToTheSeasonManagement">
            <i class="fas fa-arrow-left me-2"></i> Wróć
        </button>
    </div>

    @if (matches != null)
    {
        <div class="row">
            <div class="col">
                <h5 class="fw-bold text-secondary mb-3">Mecze:</h5>
                <MatchesTableForLeagueMaster Matches="matches"
                                             LeagueInfoId="leagueInfoId"
                                             LeagueSeasonId="leagueSeasonId">
                </MatchesTableForLeagueMaster>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center align-items-center">
            <span class="spinner-border text-primary" role="status"></span>
            <span class="visually-hidden">Ładowanie...</span>
        </div>
    }
</div>

@code {
    [Parameter] public int leagueInfoId { get; set; }
    [Parameter] public int leagueSeasonId { get; set; }

    private List<ShortMatchInfoDTO>? matches;

    protected override async Task OnInitializedAsync()
    {
        matches = await Http.GetFromJsonAsync<List<ShortMatchInfoDTO>>($"api/matches/league-master/{leagueSeasonId}");
    }

    private void BackToTheSeasonManagement()
    {
        Navigation.NavigateTo($"/league-master/leagues/{leagueInfoId}/{leagueSeasonId}");
    }
}
