.page[b-tlygdxnrz7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-tlygdxnrz7] {
    flex: 1;
    background-color: #f7f7f7;
}

.sidebar[b-tlygdxnrz7] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-tlygdxnrz7] {
    background-color: #04163d;
    border-bottom: 0px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

    .top-row[b-tlygdxnrz7]  a,
    .top-row[b-tlygdxnrz7]  .btn-link {
        white-space: nowrap;
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin: 0;
    }

        .top-row[b-tlygdxnrz7]  a:hover,
        .top-row[b-tlygdxnrz7]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-tlygdxnrz7]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-tlygdxnrz7] {
        display: none;
    }

    .top-row.auth[b-tlygdxnrz7] {
        justify-content: center;
        gap: 1rem;
    }

    .top-row[b-tlygdxnrz7]  a, .top-row[b-tlygdxnrz7]  .btn-link {
    }
}

@media (min-width: 641px) {
    .page[b-tlygdxnrz7] {
        flex-direction: row;
    }

    .sidebar[b-tlygdxnrz7] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-tlygdxnrz7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-tlygdxnrz7]  a:first-child {
            flex: initial;
            text-align: left;
            overflow: visible;
            width: auto;
        }

    .top-row[b-tlygdxnrz7], article[b-tlygdxnrz7] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
