@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@* <div class="layout-container">
    <header class="layout-header">
        <LoginDisplay />
    </header>
    <div class="layout-body">
        <aside class="layout-sidebar">
            <NavMenu />
        </aside>
        <main class="layout-content">
            @Body
        </main>
    </div>
</div> *@


<style>

</style>