<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">System_do_zarządzania_ligą_piłkarską</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <i class="fas fa-home px-2"></i> Start
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="leagues">
                <i class="fas fa-trophy px-2"></i> Ligi
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teams">
                <i class="fas fa-users px-2"></i> Drużyny
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="players">
                <i class="fas fa-user px-2"></i> Piłkarze
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="referees">
                <i class="fas fa-flag px-2"></i> Sędziowie
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trophies">
                <i class="fas fa-award px-2"></i> Trofea
            </NavLink>
        </div>
        <div class="nav-info px-3">
            <span class="px-2">Sekcja faworytów</span>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="favourite-leagues">
                <i class="fas fa-star px-2"></i> Ulubione ligi
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="favourite-teams">
                <i class="fas fa-star px-2"></i> Ulubione drużyny
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="favourite-players">
                <i class="fas fa-star px-2"></i> Ulubieni piłkarze
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="favourite-referees">
                <i class="fas fa-star px-2"></i> Ulubieni sędziowie
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
