@page
@model LockoutModel
@{
    ViewData["Title"] = "Blokada";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <div class="alert alert-warning text-center" role="alert">
        To konto zostało zablokowane. Spróbuj później.
    </div>
</header>
