/* /Areas/Admin/Shared/AdminLayout.razor.rz.scp.css */
.page[b-jn5elzfk7g] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-jn5elzfk7g] {
    flex: 1;
}

.sidebar[b-jn5elzfk7g] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-jn5elzfk7g] {
    background-color: #04163d;
    border-bottom: 0px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

    .top-row[b-jn5elzfk7g]  a,
    .top-row[b-jn5elzfk7g]  .btn-link {
        white-space: nowrap;
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin: 0;
    }

        .top-row[b-jn5elzfk7g]  a:hover,
        .top-row[b-jn5elzfk7g]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-jn5elzfk7g]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-jn5elzfk7g] {
        display: none;
    }

    .top-row.auth[b-jn5elzfk7g] {
        justify-content: center;
        gap: 1rem;
    }

    .top-row[b-jn5elzfk7g]  a, .top-row[b-jn5elzfk7g]  .btn-link {
    }
}

@media (min-width: 641px) {
    .page[b-jn5elzfk7g] {
        flex-direction: row;
    }

    .sidebar[b-jn5elzfk7g] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-jn5elzfk7g] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-jn5elzfk7g]  a:first-child {
            flex: initial;
            text-align: left;
            overflow: visible;
            width: auto;
        }

    .top-row[b-jn5elzfk7g], article[b-jn5elzfk7g] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Areas/Admin/Shared/AdminNavMenu.razor.rz.scp.css */
.navbar-toggler[b-s58zxgz4fv] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-s58zxgz4fv] {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-s58zxgz4fv] {
    font-size: 1.1rem;
    padding-left: 1.5rem;
}

.oi[b-s58zxgz4fv] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-info[b-s58zxgz4fv] {
    font-size: 1rem;
    color: #ffffff;
    padding: 0.75rem 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);  
    border-top: 1px solid rgba(255, 255, 255, 0.3);  
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.05rem; 
}

.nav-item[b-s58zxgz4fv] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-s58zxgz4fv] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-s58zxgz4fv] {
        padding-bottom: 1rem;
    }

    .nav-item[b-s58zxgz4fv]  a, .nav-info[b-s58zxgz4fv]  span {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        padding: 0 0.75rem;  
    }

        .nav-item[b-s58zxgz4fv]  a.active {
            background-color: rgba(255, 255, 255, 0.25);
            color: white;
        }

        .nav-item[b-s58zxgz4fv]  a:hover, .nav-info[b-s58zxgz4fv]  span:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-s58zxgz4fv] {
        display: none;
    }

    .collapse[b-s58zxgz4fv] {
        display: block;
    }

    .nav-scrollable[b-s58zxgz4fv] {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}


/* /Areas/LeagueMaster/Shared/LeagueMasterLayout.razor.rz.scp.css */
.page[b-tlygdxnrz7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-tlygdxnrz7] {
    flex: 1;
    background-color: #f7f7f7;
}

.sidebar[b-tlygdxnrz7] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-tlygdxnrz7] {
    background-color: #04163d;
    border-bottom: 0px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

    .top-row[b-tlygdxnrz7]  a,
    .top-row[b-tlygdxnrz7]  .btn-link {
        white-space: nowrap;
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin: 0;
    }

        .top-row[b-tlygdxnrz7]  a:hover,
        .top-row[b-tlygdxnrz7]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-tlygdxnrz7]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-tlygdxnrz7] {
        display: none;
    }

    .top-row.auth[b-tlygdxnrz7] {
        justify-content: center;
        gap: 1rem;
    }

    .top-row[b-tlygdxnrz7]  a, .top-row[b-tlygdxnrz7]  .btn-link {
    }
}

@media (min-width: 641px) {
    .page[b-tlygdxnrz7] {
        flex-direction: row;
    }

    .sidebar[b-tlygdxnrz7] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-tlygdxnrz7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-tlygdxnrz7]  a:first-child {
            flex: initial;
            text-align: left;
            overflow: visible;
            width: auto;
        }

    .top-row[b-tlygdxnrz7], article[b-tlygdxnrz7] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Areas/LeagueMaster/Shared/LeagueMasterNavMenu.razor.rz.scp.css */
.navbar-toggler[b-iqcwstn70e] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-iqcwstn70e] {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-iqcwstn70e] {
    font-size: 1.1rem;
    padding-left: 1.5rem;
}

.oi[b-iqcwstn70e] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-info[b-iqcwstn70e] {
    font-size: 1rem;
    color: #ffffff;
    padding: 0.75rem 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.05rem;
}

.nav-item[b-iqcwstn70e] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-iqcwstn70e] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-iqcwstn70e] {
        padding-bottom: 1rem;
    }

    .nav-item[b-iqcwstn70e]  a, .nav-info[b-iqcwstn70e]  span {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        padding: 0 0.75rem;
    }

        .nav-item[b-iqcwstn70e]  a.active {
            background-color: rgba(255, 255, 255, 0.25);
            color: white;
        }

        .nav-item[b-iqcwstn70e]  a:hover, .nav-info[b-iqcwstn70e]  span:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-iqcwstn70e] {
        display: none;
    }

    .collapse[b-iqcwstn70e] {
        display: block;
    }

    .nav-scrollable[b-iqcwstn70e] {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-v94di5oln4] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-v94di5oln4] {
    flex: 1;
    background-color: #f7f7f7;
}

.sidebar[b-v94di5oln4] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-v94di5oln4] {
    background-color: #04163d;
    border-bottom: 0px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

/*.page {
    display: flex;
    flex-direction: column;  Uk�ad w pionie 
    height: 100vh;  Wysoko�� pe�nego widoku 
}

.top-row {
    background-color: #04163d;  Kolor t�a 
    color: white;  Kolor tekstu 
    padding: 1rem;  Odst�p wewn�trzny 
    text-align: center;  Wy�rodkowanie tekstu 
    width: 100%;  Rozci�gni�cie na ca�� szeroko�� 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  Cie� 
}

.content-container {
    display: flex;  Uk�ad poziomy 
    flex: 1;  Rozci�gni�cie na ca�� dost�pn� przestrze� 
}

.sidebar {
    width: 200px;  Szeroko�� paska bocznego 
    background-color: #3a0647;  Kolor t�a 
    color: white;  Kolor tekstu 
    overflow-y: auto;  Scrollowanie w pionie 
    padding: 1rem;  Odst�p wewn�trzny 
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);  Cie� 
}

main {
    flex: 1;  Rozci�ganie g��wnej sekcji 
    background-color: #f7f7f7;  T�o 
    padding: 1rem;  Odst�p wewn�trzny 
    overflow-y: auto;  Scrollowanie w pionie 
}*/

    .top-row[b-v94di5oln4]  a,
    .top-row[b-v94di5oln4]  .btn-link {
        white-space: nowrap;
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin: 0;
    }

        .top-row[b-v94di5oln4]  a:hover,
        .top-row[b-v94di5oln4]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-v94di5oln4]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }


/*.layout-container {
    display: flex;
    flex-direction: column;*/ /* Uk�ad pionowy */
    /*height: 100vh;*/ /* Ca�a wysoko�� widoku */
    /*overflow: hidden;
}

.layout-header {
    background-color: #211656;*/ /* Kolor t�a nag��wka */
    /*color: white;*/ /* Kolor tekstu w nag��wku */
    /*padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/ /* Cie� nag��wka */
    /*z-index: 10;*/ /* Wy�szy poziom, �eby nag��wek by� zawsze widoczny */
/*}

.layout-body {
    display: flex;
    flex: 1;*/ /* Rozci�ga si� na ca�� reszt� miejsca */
    /*overflow: hidden;
}

.layout-sidebar {
    padding-top: 0;*/ /* Usuwa padding z g�ry */
    /*padding-bottom: 0;*/ /* Usuwa padding z do�u */
    /*width: 250px;*/ /* Szeroko�� paska bocznego */
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    color: white;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

.layout-content {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: #f7f7f7;
}*/



@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-v94di5oln4] {
        display: none;
    }

    .top-row.auth[b-v94di5oln4] {
        justify-content: center;
        gap: 1rem;
    }

    .top-row[b-v94di5oln4]  a, .top-row[b-v94di5oln4]  .btn-link {
    }
}


@media (min-width: 641px) {
    .page[b-v94di5oln4] {
        flex-direction: row;
    }

    .sidebar[b-v94di5oln4] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-v94di5oln4] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-v94di5oln4]  a:first-child {
            flex: initial;
            text-align: left;
            overflow: visible;
            width: auto;
        }

    article[b-v94di5oln4] {
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-iodi5cxajw] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-iodi5cxajw] {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-iodi5cxajw] {
    font-size: 1.1rem;
    padding-left: 1.5rem;
}

.oi[b-iodi5cxajw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}


.nav-info[b-iodi5cxajw] {
    font-size: 1rem;
    color: #ffffff;
    padding: 0.75rem 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.05rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-item[b-iodi5cxajw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-iodi5cxajw] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-iodi5cxajw] {
        padding-bottom: 1rem;
    }

    .nav-item[b-iodi5cxajw]  a, .nav-info[b-iodi5cxajw]  span {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        padding: 0 0.75rem;
    }

        .nav-item[b-iodi5cxajw]  a.active {
            background-color: rgba(255, 255, 255, 0.25);
            color: white;
        }

        .nav-item[b-iodi5cxajw]  a:hover, .nav-info[b-iodi5cxajw]  span:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-iodi5cxajw] {
        display: none;
    }

    .collapse[b-iodi5cxajw] {
        display: block;
    }

    .nav-scrollable[b-iodi5cxajw] {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
