@page "/teams/{teamId:int}/past-matches"

@using System.Net.Http
@using System_do_zarządzania_ligą_piłkarską.Shared.DTOs
@using System_do_zarządzania_ligą_piłkarską.Client.Components
@using System_do_zarządzania_ligą_piłkarską.Client.Extensions

@inject PublicClient PublicClient
@inject NavigationManager Navigation

<div class="button-container">
    <button class="btn btn-secondary" @onclick="GoBack">Wróć</button>
</div>

@if (team != null)
{
    <h3>Rozegrane mecze zespołu @team.Name</h3>

    <MatchesTable Matches="matches"></MatchesTable>
}
else
{
    <p>Ładowanie...</p>
}

@code {
    [Parameter]
    public int teamId { get; set; }
    public int leagueId { get; set; }

    private TeamDTO? team;
    private List<MatchDTO>? matches;

    protected override async Task OnInitializedAsync()
    {
        team = await PublicClient.Client.GetFromJsonAsync<TeamDTO>($"api/teams/{teamId}");
        matches = await PublicClient.Client.GetFromJsonAsync<List<MatchDTO>>($"api/teams/{teamId}/matches?isFinished=true");
    }

    private void GoBack()
    {
        Navigation.NavigateTo($"/teams/{teamId}");
    }
}
