@page "/teams/{teamId:int}/past-matches"

@using System.Net.Http
@using System_do_zarządzania_ligą_piłkarską.Shared.DTOs
@using System_do_zarządzania_ligą_piłkarską.Client.Components
@using System_do_zarządzania_ligą_piłkarską.Client.Extensions

@inject PublicClient PublicClient
@inject NavigationManager Navigation

<div class="container py-5">
    <div class="button-container mb-4">
        <button class="btn btn-secondary" @onclick="GoBack">
            <i class="fas fa-arrow-left"></i> Wróć
        </button>
    </div>

    @if (team != null)
    {
        <div class="text-center mb-4">
            <h3 class="fw-bold text-primary">Rozegrane mecze zespołu <span class="text-dark">@team.Name</span></h3>
        </div>

        <div class="table-responsive">
            <MatchesTable Matches="matches" ShowDetails="true" NavigationTeamId="teamId"></MatchesTable>
        </div>
    }
    else
    {
        <p class="text-muted text-center">Ładowanie danych...</p>
    }
</div>


@code {
    [Parameter] public int teamId { get; set; }

    private TeamDTO? team;
    private List<MatchDTO>? matches;

    protected override async Task OnInitializedAsync()
    {
        team = await PublicClient.Client.GetFromJsonAsync<TeamDTO>($"api/teams/{teamId}");
        matches = await PublicClient.Client.GetFromJsonAsync<List<MatchDTO>>($"api/teams/{teamId}/matches?isFinished=true");
    }

    private void GoBack()
    {
        Navigation.NavigateTo($"/teams/{teamId}");
    }
}
