@using System_do_zarządzania_ligą_piłkarską.Client.Areas.Admin.Shared
@using Microsoft.AspNetCore.Authorization

@page "/admin/start"
@layout AdminLayout
@attribute [Authorize(Roles = "Admin")]

<h1>Admin Dashboard</h1>
