.navbar-toggler[b-iodi5cxajw] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-iodi5cxajw] {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-iodi5cxajw] {
    font-size: 1.1rem;
}

.oi[b-iodi5cxajw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-info[b-iodi5cxajw] {
    font-size: 1rem; /* Zwi�kszenie rozmiaru czcionki */
    color: #ffffff;
    padding: 0.75rem 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* T�o dla sekcji faworyt�w */
    border-top: 1px solid rgba(255, 255, 255, 0.3); /* Linia oddzielaj�ca */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Linia oddzielaj�ca */
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.05rem; /* Dodanie odst�p�w mi�dzy literami */
}

.nav-item[b-iodi5cxajw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-iodi5cxajw] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-iodi5cxajw] {
        padding-bottom: 1rem;
    }

    .nav-item[b-iodi5cxajw]  a, .nav-info[b-iodi5cxajw]  span {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        padding: 0 0.75rem; /* Dodanie wewn�trznego odst�pu */
    }

        .nav-item[b-iodi5cxajw]  a.active {
            background-color: rgba(255, 255, 255, 0.25);
            color: white;
        }

        .nav-item[b-iodi5cxajw]  a:hover, .nav-info[b-iodi5cxajw]  span:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-iodi5cxajw] {
        display: none;
    }

    .collapse[b-iodi5cxajw] {
        /* Nigdy nie zwijaj paska bocznego na szerokich ekranach */
        display: block;
    }

    .nav-scrollable[b-iodi5cxajw] {
        /* Umo�liwia przewijanie paska bocznego dla wysokich menu */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
